doctype html
html.no-js(lang="ko")  
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.css")
    title CardUI
  body
    .grid
      .grid__item 
        .card 

          img.card__img(src='https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', alt='Snowy Mountains')
          .card__content 
            h1.card__header A starry night 
            p.card__text 
              | Look up at the night sky, and find yourself <strong>immersed</strong> in the amazing mountain range of Aspen. 
            button.card__btn Explore <span>&rarr;</span>
